spring:
  cloud:
    nacos:
      # Nacos 作为注册中心的配置项，对应 NacosDiscoveryProperties 配置类
      discovery:
        server-addr: 127.0.0.1:8848    # nacos 服务器地址
        service: ${spring.application.name}   # 注册到 nacos 的服务名。默认为${spring.application.name}
        namespace: da056424-9b39-44a2-9b7c-a68d740edad8   # nacos服务设置prod的命名空间